.selection-area {
  padding: 0 2rem;
}

h3 {
  font-size: 2rem;
}

.selected-meal {
  text-align: left;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.selected-meal div h3 {
  font-size: 1.3rem;
}

.selected-meal div p {
  font-weight: 600;
  font-size: 1rem;
}

.selected-meal div:nth-child(even) {
  font-style: italic;
  text-align: center;
}
