h3 {
  font-size: 2rem;
}

.selected-meal {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.selected-meal > ul > li {
  padding-bottom: 1rem;
  list-style: none;
  font-weight: 600;
  font-size: 1.2rem;
}
